{% extends 'nav1.html' %}
{% block content %}


    <style>
        form {
            width: 400px;
            margin: 20px auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        label {
            font-weight: bold;
            display: block;
            margin-top: 10px;
        }
        input, select {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        button {
            margin-top: 15px;
            padding: 10px;
            width: 100%;
            background-color: #28a745;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #218838;
        }
    </style>

    
    <form  method="post" action="{% url 'edit_student_details' stud.id %}">
        {% csrf_token %}
        <h2 style="text-align: center;">Add Student</h2>
        <label for="name">Name:</label>
        <input type="text"  name="name" placeholder="Enter student name" value="{{ stud.student_name }}"required>
        
        <label for="address">Address:</label>
        <input type="text" name="address" placeholder="Enter address" value="{{ stud.student_address }}" required>
        
        <label for="age">Age:</label>
        <input type="number" name="age" placeholder="Enter age" value="{{ stud.age }}" required>
        
        <label for="JOIN">Joining Date:</label>
        <input type="date"  name="joining_date"  value="{{ stud.joining_date|date:'Y-m-d' }}"required>
        
        <label for="course">Course:</label>
        <select  name="sel" >
            {% for c in Course %}
               {% if c.id == stud.Course.id %}
            <option value="{{ c.id }}" selected>{{c.coursename}}</option>
               {% else %}
            <option value="{{ c.id }}">{{c.coursename}}</option>
              {% endif %}
            {% endfor %}
        </select>
        
        <button type="submit">UPDATE</button>
    </form>


   
{% endblock %}